<section class="hiring-cta" aria-labelledby="hiring-cta-heading">
  <div class="container">
    {% set heading = sections.hiringCta.heading %}
    {% set body = sections.hiringCta.body %}
    {% set buttonHref = sections.hiringCta.buttonHref %}
    {% set buttonText = sections.hiringCta.buttonText %}
    {% include "molecules/cta-group/index.njk" %}
  </div>
</section>
