{% extends "templates/base.njk" %}

{% block content %}
  <section class="content-section not-found" aria-labelledby="not-found-heading">
    <div class="container">
      <h1 id="not-found-heading">{{ page.heading }}</h1>
      <p>{{ page.body }}</p>
      {% set href = page.ctaHref %}{% set label = page.ctaText %}{% set variant = "primary" %}
      {% include "atoms/button/index.njk" %}
    </div>
  </section>
{% endblock %}
